{% extends "home.html" %}
{% load static %}
{% block contenido %}
<link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
<link rel="stylesheet" href="{%static 'css/myestilo.css'%}">
<body class="d-flex h-100 text-center text-bg-dark" style="position: absolute; right: 600px; top: 200px;">
    <style> 
        body{ 
            background-image: url("https://img.freepik.com/foto-gratis/mesa-madera-sobre-fondo-sala-cocina-desenfoqueinterior-sala-cocina-moderna_41470-4799.jpg?w=2000"); 
            background-position: center 25%; 
            background-size: cover; 
        }
    </style>
    <form action="" method="POST"> {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Aceptar">
    </form>
</body>
{% endblock %}