{% extends "home.html" %}
{% load static %}

{% block contenido %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>
    <img src=  ""  alt="">
</body>
      <body>
          <img src="https://topadventure.com/__export/1660854646909/sites/laverdad/img/2022/08/18/mejores_restaurantes_romanticos_bacalar_portada_1.jpg_604918838.jpg"  alt="">
      </body>
</html>
{% endblock %}