{% extends "home.html" %}
{% load static %}

{% block contenido %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
</head>
    <div class="ubicado">
        <style> 
            body { 
                background-image: url("https://img.freepik.com/fotos-premium/pared-ladrillo-negro-loft-diseno-interiores-pintura-negra-fachada_73152-4012.jpg?w=2000"); 
                background-position: center 25%; 
                background-size: cover; 
            } 
        </style>
            <p   style="position: relativa;left:600px" display="">
                Gonzalo Rosman es un arquiecto de 35 años que siempre tuvo curiosidad por 
                la programacion y el diseño web. Gracias a este proyecto dio el primer paso 
                hacia el exito en esta nueva etapa de su vida. </p>
            <p class="nav-link active"  style="position: relative;top:100px" display="">Gonzalo Ferraro es un Contador y estudiante de 
            informática de la Facultad de La Plata, que siempre busca capacitarse y enfrentar nuevos desafíos. Este proyecto ha sido bastante
         desafiante y con mcuhas sorpresas. Genera motivación para encarar lo que viene con todo el impulso, por supuesto siempre con CoderHouse ;)</p>
            <p class="nav-link active"  style="position: relative;top:200px">Guadalupe Festinese vive en Capital Federal, con 24 años, siempre buscando nuevas experiencias, emprendedora 
                de un negocio, en búsqueda de nuevas oportunidades, uso éste Proyecto como puntapie para emprender de lleno la Programación Web.
             </p>
   
    </div>
</html>
{% endblock %}