{% extends "home.html" %}
{% load static %}

{% block contenido %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
</head>
    <div class="ubicado">
        <img class = "posicionim" src=https://p4.wallpaperbetter.com/wallpaper/803/804/833/food-4k-download-for-pc-wallpaper-preview.jpg alt="">
        <div class="texto">
            <p class="nav-link active"  style="position: relative" display="">Correo Electrónico: </p>
            <p class="nav-link active"  style="position: relative" display="">nosotros@hotmail.com</p>
            
            <p class="nav-link active"  style="position: relative" display="" >Gracias por visitarnos!
                Por consultas y/o sugerencias por favor
                no dudes en contactarte!. </p>
            <p class="nav-link active"  style="position: relative" display="">Domicilio:</p>
            <p class="nav-link active"  style="position: relative" display="">Pueyrredón 309, esq. Sarmiento, Buenos Aires, Argentina</p>
            <p class="nav-link active"  style="position: relative" display="">Teléfono</p>
            <p class="nav-link active"  style="position: relative">011-4928842 </p>
        </div>   
    </div>
</html>
{% endblock %}