{% extends "home.html" %}
{% load static %}

<!--<link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">-->
{% block contenido %} 
    <div style="position: absolute; top: 120px; left: 600px">
        <ul>
            <p>Usuario: {{ user.username }}</p>
            <p></p>
            <p>Correo: {{ user.email }}</p>
            <p></p>
            <p>Nombre: {{ user.first_name }}</p>
            <p></p>
            <p>Apellido: {{ user.last_name }}</p>
        </ul>
        <a class="btn btn-primary" style="text-decoration: none; color: white" href="/Blog/perfil/editar_perfil">Editar Información de Perfil</a>
        <p></p>
        <a class="btn btn-primary" style="text-decoration: none; color: white" href="/Blog/perfil/agregarAvatar">Cambiar imagen de perfil</a>
        <p></p>
        <a class="btn btn-primary" style="text-decoration: none; color: white" href="/Blog/perfil/changepass">Cambiar Contraseña</a>
    </div>    
{% endblock %}
<!--No necesito traer la variable user, porque está en toda la web-->