.borde{
  border: solid rgba(97, 78, 78, 0.192);
  border-width: 7px ;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);

}

.fondo{
background-size: auto;


}


.texto{
  font-size: 1.125rem;
  text-anchor:start;
  display: inline-block;
  position:relative;
  right:800px;
  font-size: 14px;
  text-align: center;
  margin-top: 40px;
  background-color: black;
}

.posicionim{
  position:relative;
  left: 500px;
  right:auto;
}


.ubicado{
  position: relative;
  width: 1500px;
  height: auto;
  top: 0px;
  font-size: 1.125rem;
  text-anchor: middle;
  
}


.contenido1{
    position: relative;
    top: 80px;
    font-size: 1.125rem;
    
}

.contenido2{
  position: relative;
  top: 80px;
  font-size: small;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  color: white;
  text-align: justify;
  vertical-align: baseline;
  align-content: center;
  display: inherit;
  clear: left;
  
}
.contenido22{
  position: relative;
  font-size: small;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  color: white;
  vertical-align: baseline;
  align-content: center;
  display: inherit;
  clear: left;

}
  .titulo{
    position: absolute;
    top: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: white;
    text-align: justify;
    vertical-align: middle;
    text-anchor: middle;
    font-size: 3.125rem;
    
  }


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  